.centered{
  text-align: center;
}

.lyrics{
  white-space: pre-line;
  padding: 1em;
  line-height: 1.618;
  display: inline-block;
  background: rgba(255,255,255,.3);
}

.light-toggle-section{
  padding: 1em;
  /*padding-bottom: 0;*/
  line-height: 30px;
}

#light-toggle{
  vertical-align: middle;
  display: inline-block;
}


.is-light-on .content, .is-light-on .bar-title, .is-light-on .toggle.active{
  background: transparent;
}
.is-light-on .toggle.active, .is-light-on .toggle.active .toggle-handle{
  border-color: rgba(0,0,0,.2);
}

.content{
  /*background: red;*/
}